/*

----- Portfolio Page -----

Author: Melissa Arroyo
Last Updated: January 2023
File name: styles.css

*/

/* ---------------- BASE STYLES ------------------------ */

html,
body {
    margin: 0;
    padding: 0;
}

nav {
  background-color: #ffffff;
  height: 10vh;
  border-bottom: 2px solid black;
}

aside {
  background-color: #5CAB7D;
}

ul li a {
  color: #333030;
  text-decoration: none;
}

h1 {
  font-family: 'Lato', sans-serif;
  color: #333030 !important;
  font-weight: 300 !important;
  font-size: 55px !important;
  text-transform: uppercase;
  letter-spacing: 0;
  display: flex;
  flex-direction: column;
}

h1 span {
  font-weight: 900 !important;
  letter-spacing: 1px;
}

ul li,
p {
  color: #333030 !important;
}

.container {
  height: 100%;
}


/* ---------------- NAVIGATION STYLES ------------------ */
.Aside_logoImg {
    width: 150px;
    height: auto;
    border-radius: 50%;
    border: 3px solid #333030;
}

.Nav_navList {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

@media (min-width: 768px) {
  .Nav_navList {
    flex-direction: row;
    justify-content: space-evenly;
  }
}

@media (min-width: 992px) {
  .Nav_navList {
    flex-direction: row;
  }
  .Nav_navList li {
    margin: 10px 20px;
  }
}


/* -------------- ASIDE SECTION STYLES ---------------- */
.Aside_section {
  width: 100%;
}

@media (min-width: 992px) {
  .Aside_section {
    width: 20%;
  }
}
/* -------------- WORK SECTION STYLES ---------------- */

.Work_Section {
  background-color: #3A4B40;
  height: 100%;
  width: 100%;
}

.Work_SectionGrid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, 1fr);
  row-gap: 15px;
  height: auto;
}

.Work_SectionCard {
  background-color: #F9F871;
}

@media (min-width: 768px) {
  .Work_SectionGrid {
    display: grid;
    grid-template-columns: 3fr 3fr 2fr;
    grid-template-rows: repeat(6, 1fr);
    column-gap: 15px;
    row-gap: 15px;
    height: 100%;
  }

 .card-shpekc {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 5;
    height: 400px;
  }

  .card-srks {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 7;
  }

  .card-trinity {
    display: grid;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 4;
  }

  .card-cudlipp {
    display: grid;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 7;
  }

  .card-reframe {
    display: grid;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 4;
  }
}

@media (min-width: 992px) {
  .Work_Section {
    height: auto;
    width: 80%;
  }
}

/* -------------- FOOTER SECTION STYLES ---------------- */
/* -------------- FOOTER SECTION STYLES ---------------- */

.Footer_Section {
  height: 10vh;
  background-color: #ffffff;
}