/*

----- Portfolio Page -----

Author: Melissa Arroyo
Last Updated: August 29, 2020
File name: styles.css

*/

/* ---------------- BASE STYLES ------------------------ */

html,
body {
    margin: 0;
    padding: 0;
}